h2{
    color:white;
}

.langIcons{
    height: 5vw;
    width:5vw;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
}

#icons{
    display:flex;
}

img{
    background-color: #141212;
}
#langdb{
    margin: 2vw;;
}